name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET 6 & 7
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
            6.0.404
            7.0.102
    - name: Restore dependencies
      run: dotnet restore WinFormsComInterop.Build.sln
    - name: Build
      run: dotnet build WinFormsComInterop.Build.sln --no-restore
    - name: Test
      run: dotnet test WinFormsComInterop.Build.sln --no-build --verbosity normal --framework net7.0
